@import "../../../app/scss/helpers.scss";

.section {
  min-height: 100vh;
  overflow: hidden;
  position: relative;

  @media screen and (max-width: 800px) {
    margin-top: -34vh;
  }

  h2 {
    font-size: tovw(102px, "desktop-large", 40px);
    font-weight: 800;
    text-align: center;
    line-height: 1;
    position: relative;
    z-index: 5;
  }

  :global(.wrapper) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }

  img {
    position: absolute;
    will-change: transform;
  }


  .title {
    color: white;
    mix-blend-mode: difference;
  }
}