@tailwind base;
@tailwind components;
@tailwind utilities;

html.lenis,
html.lenis body {
  height: auto !important;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain !important;
}

.lenis.lenis-stopped {
  overflow: hidden !important;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none !important;
}

.lampcontainer {
  position: relative;
  margin-top: -330px;
  contain: layout;
  height: 420px;
}

.lamp {
  width: 100%;
  height: 400px;
  position: relative;
  margin-bottom: -400px;
  pointer-events: none;
  user-select: none;
  --first: conic-gradient(
    from 90deg at 80% 50%,
    hsl(var(--background)),
    hsl(var(--background)),
    var(--bottom)
  );
  --second: conic-gradient(
    from 270deg at 20% 50%,
    var(--bottom),
    hsl(var(--background)),
    hsl(var(--background))
  );
  -webkit-mask-image: radial-gradient(
    100% 50% at center center,
    black,
    transparent
  );
  background-image: var(--first), var(--second);
  background-position-x: 1%, 99%;
  background-position-y: 0%, 0%;
  background-size: 50% 100%, 50% 100%;
  opacity: 1;
  transform-origin: center center;
  background-repeat: no-repeat;
}

.lamp::after {
  content: "";
  position: absolute;
  inset: 0px 0px 50%;
  overflow: hidden;
  opacity: 0.1;
  -webkit-mask-image: radial-gradient(
    140px 50% at 50% 100%,
    black,
    transparent
  );
  mask-image: radial-gradient(140px 50% at 50% 100%, black, transparent);
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  width: 0.1em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
