.container {
  position: relative;
  height: 300vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.stickyMask {
  mask-position: 100%;
  display: flex;
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  mask-image: url("/image.svg");
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: 50%;
}

.stickyMask video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
